<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Login form and sign up</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
<link href="../../www/admin/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	
		<!----------start sign_up----------->
		<div class="sign_up">
			<!----------start form----------->
			<form class="sign" action="#">
				<div class="formtitle">Sign Up-It's free.</div>
				<!----------start top_section----------->
				<div class="top_section">
					<div class="section">
						<div class="input username">
							<input type="text"  placeholder="User Name"  required/> <span><img src="../../www/admin/images/select.png"/> </span>
							
						</div>
						<div class="input password">
							<input type="password"  placeholder="Password" required/><span><img src="../../www/admin/images/close.png"/></span>
						</div>
						<div class="clear"> </div>
					</div>
					<div class="section">
						<div class="input-sign email">
							<input type="email"  placeholder="Email"  required /> 
						</div>
						<div class="input-sign re-email">
							<input type="email" placeholder="Re-confirm email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Re-confirm email';}"required />
						</div>
						<div class="clear"> </div>
					</div>
				</div>
				<!----------end top_section----------->
				<!----------start personal Details----------->
				<!----------start bottom-section----------->
				<div class="bottom-section">
					<div class="title">Server Details</div>
					<!----------start name section----------->
					<div class="section">
						<div class="input-sign details">
							<input type="text"  placeholder="database" required/>
						</div>
						<div class="input-sign details1">
							<input type="text"  placeholder="password" required/>
						</div>
						<div class="clear"> </div>
					</div>
					<!----------start mail section----------->
					<div class="section">
						<div class="input-sign details">
							<input type="email" placeholder="host" required/> 
						</div>
						<div class="input-sign details1">
							<input type="email" placeholder="DB username" required/>
						</div>
						<div class="clear"> </div>
					</div>
					<!----------start city section----------->
					<div class="section">
						<div class="input-sign details">
							<input type="text"  placeholder="port" required/> 
						</div>
						<div class="input-sign details1">
							<input type="text"  placeholder="ip" required/> 
						</div>
						<div class="clear"> </div>
					</div>
					
					<div class="submit">
						<input class="bluebutton submitbotton" type="submit" value="Sign up" />
					</div>
				</div>
				<!----------end bottom-section----------->
			</form>
			<!----------end form----------->
		</div>
		<!----------start copyright----------->
			<p class="copy_right">&#169; 2014 Template by<a href="http://w3layouts.com" target="_blank">&nbsp;w3layouts</a> </p>
</body>
</html>
